@page "/order"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject WeatherApiClient WeatherApi

<PageTitle>Order</PageTitle>

<h1>Order</h1>

<p>This component demonstrates publishing data sent to pub-sub.</p>

@if (orderSubmittResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    string result = orderSubmittResult.Value ? "successfully" : "with failure";
    <div>Order Id @randomOrderId is submitted @result</div>
}

@code {
    private bool? orderSubmittResult;
    private int randomCustomerId = -1;
    private int randomOrderId = -1;

    protected override async Task OnInitializedAsync()
    {
        Random randomCustomer = new Random();
        // Generates a random number between 1 and 10
        randomCustomerId = randomCustomer.Next(1, 11);

        Random randomOrder = new Random();
        // Generates a random number between 1 and 100
        randomOrderId = randomOrder.Next(1, 101);

        orderSubmittResult = await WeatherApi.SubmitOrderAsync(randomCustomerId, randomOrderId);
    }
}
